/* You can add global styles to this file, and also import other style files */
/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}

.header-row{
  font-size:13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.col-xs-1,
div.col-xs-2{
  max-height:16px;
  min-height:16px;
}

.spacerDiv{
  max-height:14px;
  min-height:14px;
}

contact-component .col-xs-1,
contact-component .col-xs-2,
edit-contact input
{
  font-size:14px;
  border-bottom-width:1px;
  border-bottom-style: solid;
  overflow: hidden;

}

edit-contact input{
  max-width: 100%;
}
.highlight {
  background-color: yellow;
}

.jumbotron{
    width: 25%;
    margin-right: 5%;
    margin-top: 1%;
    background-color: #abe1e6;
    padding-top: 1%;
}

.row{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

.container {
    width: 95%;
    padding-left: 0px;
    margin-right: 2%;
    margin-left: 1%;
}

.btn-login{
    float: left;
    margin-top: 0.7%;
}

.members-list{
  margin-top: 70px;
}

.first{
  margin-top: 1%;
}

.bold{
  font-weight: bold;
}
