<h1 class="title">שדולת הנשים </h1>
<span *ngIf="_store.state.currentUser && _store.state.currentUser.length
  &&  _store.state.currentUser[0]">

   שלום   {{_store.state.currentUser[0].name}}
</span>

<nav>
  <a *ngIf="isLogedIn " [routerLink]="['/members-screen']">חברים</a>
  <a *ngIf="!isLogedIn" [routerLink]="['/login']">התחברות</a>
  <!--<a *ngIf= "isLogedIn" href="javascript:void(0)" (click)="userActions.logOut()">התנתקות</a>-->
</nav>
<spinner *ngIf="_store.state.OnServerCall.loading"></spinner>
<router-outlet></router-outlet>

