<h3 class="list"> רשימת תשלומים</h3>
<button (click)="getPayments()" class="glyphicon glyphicon-refresh btn btn-primary bold btn-loading">
  <label class="loading-btn-label">טעינה</label>
</button>
<a class="glyphicon glyphicon-plus" href="javascript:void(0)"
   (click)="addNewPayment()" title="חדש"></a>
<app-edit-payment-form (savePayment)="savePayment($event)" [payment]="newPayment"
                       *ngIf="newPayment"></app-edit-payment-form>

<button type="button" class="glyphicon glyphicon-remove" (click)="revertChanges()"></button>
<div *ngIf="_store.state.payments.payments && _store.state.payments.payments.length">
  <div class="row">
    <div class="col-xs-1 header-row">תאריך התשלום</div>
    <div class="col-xs-1 header-row">סכום</div>

    <div class="col-xs-1 header-row hidden-xs">התקבל</div>
    <div class="col-xs-1 header-row hidden-xs">אסמכתא</div>

  </div>
  <div class="row" *ngFor="let payment of _store.state.payments.payments">
    <div *ngIf="!payment.isEdited">   
      <div class="col-xs-1">{{payment.paymentDate | date:'dd/MM/yy'}}</div>
      <div class="col-xs-1">{{payment.sum}}</div>

      <div class="col-xs-1"><span [innerHTML]="payment.accepted | booleanpipe"></span></div>
      <div class="col-xs-1">{{payment.transactionId}}</div>
      <div *ngIf="!payment.isEdited" class="col-xs-1"><a class="glyphicon glyphicon-pencil" href="javascript:void(0)" title="עריכה"
                               (click)="editPayment(payment)"></a>
      </div>
      <div>
      <a class="glyphicon glyphicon-erase" href="javascript:void(0)" title="מחיקה" (click)="deletePayment(payment)"></a>
      </div>
    </div>
    <app-edit-payment-form  *ngIf="payment.isEdited" (savePayment)="savePayment($event)" [payment]="payment"></app-edit-payment-form>
    <div>

    </div>    
  </div>

</div>

