/* Master Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
body {
    margin: 2em;
}

.header-row{
    background-color: azure;
    font-size:10px;
}

div.col-xs-1,
div.col-xs-2{
    max-height:14px;
    min-height:14px;
}

.spacerDiv{
    max-height:14px;
    min-height:14px;
}

contact-component .col-xs-1,
contact-component .col-xs-2,
edit-contact input
{
 font-size:10px;
    border-bottom-width:1px;
    border-bottom-style: solid;
    overflow: hidden;

}

edit-contact input{
    max-width: 100%;
}