<form (submit)="addNewContact()" *ngIf="editedContact" style="margin:20px;">
  <div>
    <input [labelText]="'שם פרטי:'" [id]="editedContact.key + '_firstName'"  type="text" placeholder="שם פרטי" [(ngModel)]="editedContact.firstName" name="firstName"/>
  </div>

  <div><label [attr.for]="editedContact.key + '_lastName'">שם משפחה:</label>
    <input [id]="editedContact.key + '_lastName'" type="text" placeholder="שם משפחה" [(ngModel)]="editedContact.lastName" name="lastName"/></div>
  <div>

    <input [labelText]="'מספר תעודת זהות:'" [id]="editedContact.key + '_idNumber'"  type="text" placeholder="תעודת זהות" [(ngModel)]="editedContact.idNumber" name="idNumber"/></div>
  <div>
    <input type="text" name="phoneNumber" [id]="editedContact.key + '_phoneNumber'" [labelText]="'מספר טלפון:'"
           [(ngModel)]="editedContact.phoneNumber"></div>
  <div><input [id]="editedContact.key + '_city'" [labelText]="'יישוב:'" type="text" name="city" [(ngModel)]="editedContact.city"></div>
  <div><input [id]="editedContact.key + '_address'" [labelText]="'כתובת:'" type="text" name="address" [(ngModel)]="editedContact.address"></div>
  <div><input [id]="editedContact.key + '_eMail'" [labelText]="'כתובת דוא&quot;ל:'"  type="text" placeholder="e-mail"  [(ngModel)]="editedContact.emailAddress" name="email"/></div>
  <div><input [id]="editedContact.key + '_fromDate'" [labelText]="'מתאריך:'" type="text" name="fromDate" [(ngModel)]="editedContact.fromDate"></div>
  <!--<div><input  [id]="editedContact.key + '_toDate'" [labelText]="'תאריך אחרון לתשלום:'"-->
  <!--type="text" name="toDate" [(ngModel)]="editedContact.toDate"></div>-->


  <button type="button" class="glyphicon glyphicon-remove" (click)="revertChanges()"></button>


  <button type="submit" class="glyphicon glyphicon-floppy-disk"></button>
</form>
